.moves {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 0%;
      width: 100%
    }
  
    to {
      margin-left: 100%;
      width: 100%;
    }
  }